<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <div th:each="hist:${hists}">

        
        <h2>Welcome</h2>
        <h2 th:text ="${hist.title}"></h2>
        <p th:text = "${hist.content}"></p>
        <p th:text ="${hist.id}"></p>
        <img style="width:50px" th:src="@{'/img/'+${hist.id}}" alt="error">
    </div>

    </div>
    
</body>
</html>
